apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: app
          image: xxx.dkr.ecr.xxx.amazonaws.com/dualstack:backend
          ports:
            - containerPort: 8000
      imagePullSecrets:
        - name: myawscred
